# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environnements virtuels
venv/
env/
.env/
.venv/

# Résultats d'entraînement
results/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo